/* 公共CSS样式 */

a{text-decoration: none}

body{margin:0 10% 40px 10%;padding-top: 60px}

p{color: darkgray}

table,th,td{border-collapse: collapse}

/* 行高类 */
.lh{line-height: 30px}

/* color */
.fcDG{color: darkgrey}

/* margin类 */
.mAuto{margin: 0 auto}
.mClear{margin: 0}
.mt10{margin-top: 10px}
.mtb10{margin-top: 10px;margin-bottom: 10px}
.mt60{margin-top: 60px}
.mr30{margin-right: 30px}
.ml30{margin-left: 30px}


/* padding类 */
.ptb10{padding-top: 10px;padding-bottom: 10px}
.p5{padding: 5px}
.p2p{padding: 2%}

/* 宽度 */
.wMax{width: max-content}
.w100{width: 100%}
.w400p{width: 400px;}
.w100p{width: 100px;}

.maxW900{max-width: 900px}

/* 高度 */
.h300p{height: 300px}
.h200p{height: 200px}
.h100p{height: 100px}

/* 背景 */
.bgfff{background-color: #ffffff}
.bg666{background-color: #666666}
.bg333{background-color: #333333}

/* 边框 */
.bor{border:#666666 1px solid }
.borBlue{border: #00b7ff 1px solid}
.borofd{border: #00ffdd 1px solid}
.borLBlue{border-left: #00b7ff 4px solid}
.borRed{border: red 1px solid}

/* 一般的测试用背景 */
.commTestbg div{
    padding: 5px;
    background-color: #00b7ff;
    margin: 10px;
}

/* 绝对定位居于顶部 */
.topAlign{top: 0;left: 0; position: fixed;z-index: 999}

/* 一个按钮 */
.btn1{
    border: #00ccff 1px solid;
    border-radius: 2px;
    display: inline;
    background: #00ccff;
    padding-left: 5px;
    padding-right: 5px;
    color: #fff;
    font-size: 14px;
    box-shadow: 2px 2px 10px #888888;
}

/* 右浮动 */
.for{float: right}

.inliBlo{display: inline-block}

/* 居中的第二种写法 */
.center2{
    clear: both;
    display: block;
    margin: auto
}
